@import "../css/custom/_reboot.css";
@import "../css/custom/_swiper.css";
@import "../css/custom/_gallery.css";
@import "../css/custom/_apexcharts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
